
.wrapper {

}
.wrapper img {
	max-width: $max-width;
}

@media only screen and (max-width: $max-width) {
  .wrapper img {
		max-width: 100%;
	}
}

.container {
	max-width: $max-width;
	Margin-left: auto;
	Margin-right: auto;
}
.col {
	font-size: $font-size-base;
	line-height: $line-height-base;
	vertical-align: top;
}


.pad-none {
	padding: 0;
}
.pad-sm {
	padding: $spacing-sm;
}
.pad-md {
	padding: $spacing-md;
}
.pad-lg {
	padding: $spacing-lg;
}
.pad-t-none {
	padding-top: 0;
}
.pad-t-sm {
	padding-top: $spacing-sm;
}
.pad-t-md {
	padding-top: $spacing-md;
}
.pad-t-lg {
	padding-top: $spacing-lg;
}
.pad-r-none {
	padding-right: 0;
}
.pad-r-sm {
	padding-right: $spacing-sm;
}
.pad-r-md {
	padding-right: $spacing-md;
}
.pad-r-lg {
	padding-right: $spacing-lg;
}
.pad-b-none {
	padding-bottom: 0;
}
.pad-b-sm {
	padding-bottom: $spacing-sm;
}
.pad-b-md {
	padding-bottom: $spacing-md;
}
.pad-b-lg {
	padding-bottom: $spacing-lg;
}
.pad-l-none {
	padding-left: 0;
}
.pad-l-sm {
	padding-left: $spacing-sm;
}
.pad-l-md {
	padding-left: $spacing-md;
}
.pad-l-lg {
	padding-left: $spacing-lg;
}
.pad-x-none {
	padding-right: 0;
	padding-left: 0;
}
.pad-x-sm {
	padding-right: $spacing-sm;
	padding-left: $spacing-sm;
}
.pad-x-md {
	padding-right: $spacing-md;
	padding-left: $spacing-md;
}
.pad-x-lg {
	padding-right: $spacing-lg;
	padding-left: $spacing-lg;
}
.pad-y-none {
	padding-top: 0;
	padding-bottom: 0;
}
.pad-y-sm {
	padding-top: $spacing-sm;
	padding-bottom: $spacing-sm;
}
.pad-y-md {
	padding-top: $spacing-md;
	padding-bottom: $spacing-md;
}
.pad-y-lg {
	padding-top: $spacing-lg;
	padding-bottom: $spacing-lg;
}

@media only screen and (max-width: $max-width) {
	.wrapper img {
		max-width: 100% !important;
	}
	u ~ div .wrapper {
		min-width: 100vw !important;
	}
	.container {
		width: 100% !important;
		-webkit-text-size-adjust: 100%;
	}
}

@media only screen and (min-width: $max-width * 0.75) {
	.col {
		box-sizing: border-box;
		display: inline-block !important;
		line-height: $line-height-base;
		width: 100% !important;
	}
	.col-1 {
		max-width: 25%;
	}
	.col-2 {
		max-width: 50%;
	}
	.col-3 {
		max-width: 75%;
	}
	.col-third {
		max-width: 33.33333%;
	}
	.col-push-1 {
		Margin-left: 25%;
	}
	.col-push-2 {
		Margin-left: 50%;
	}
	.col-push-3 {
		Margin-left: 75%;
	}
	.col-push-third {
		Margin-left: 33.33333%;
	}

	.pad-sm {
		padding: $spacing-md !important;
	}
	.pad-md {
		padding: $spacing-lg !important;
	}
	.pad-lg {
		padding: $spacing-xl !important;
	}
	.pad-t-sm {
		padding-top: $spacing-md !important;
	}
	.pad-t-md {
		padding-top: $spacing-lg !important;
	}
	.pad-t-lg {
		padding-top: $spacing-xl !important;
	}
	.pad-r-sm {
		padding-right: $spacing-md !important;
	}
	.pad-r-md {
		padding-right: $spacing-lg !important;
	}
	.pad-r-lg {
		padding-right: $spacing-xl !important;
	}
	.pad-b-sm {
		padding-bottom: $spacing-md !important;
	}
	.pad-b-md {
		padding-bottom: $spacing-lg !important;
	}
	.pad-b-lg {
		padding-bottom: $spacing-xl !important;
	}
	.pad-l-sm {
		padding-left: $spacing-md !important;
	}
	.pad-l-md {
		padding-left: $spacing-lg !important;
	}
	.pad-l-lg {
		padding-left: $spacing-xl !important;
	}
	.pad-x-sm {
		padding-right: $spacing-md !important;
		padding-left: $spacing-md !important;
	}
	.pad-x-md {
		padding-right: $spacing-lg !important;
		padding-left: $spacing-lg !important;
	}
	.pad-x-lg {
		padding-right: $spacing-xl !important;
		padding-left: $spacing-xl !important;
	}
	.pad-y-sm {
		padding-top: $spacing-md !important;
		padding-bottom: $spacing-md !important;
	}
	.pad-y-md {
		padding-top: $spacing-lg !important;
		padding-bottom: $spacing-lg !important;
	}
	.pad-y-lg {
		padding-top: $spacing-xl !important;
		padding-bottom: $spacing-xl !important;
	}
}